<!DOCTYPE html>
<html lang="es">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" href="css/events.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/spinkit/1.2.5/spinkit.min.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Eventos</h1>
                <div id="app" v-cloak>
                    <div class="b-events-container">
                        <div class="sk-cube-grid" v-if="eventos.length === 0">
                            <div class="sk-cube sk-cube1"></div>
                            <div class="sk-cube sk-cube2"></div>
                            <div class="sk-cube sk-cube3"></div>
                            <div class="sk-cube sk-cube4"></div>
                            <div class="sk-cube sk-cube5"></div>
                            <div class="sk-cube sk-cube6"></div>
                            <div class="sk-cube sk-cube7"></div>
                            <div class="sk-cube sk-cube8"></div>
                            <div class="sk-cube sk-cube9"></div>
                        </div>
                        <div class="b-events-container">
                            <div class="row">
                                <div class="col-4" v-for="evento in eventos">
                                    <div class="b-event card bg-light">
                                        <img class="card-img-top"
                                            v-bind:src="evento.thumbnail | changeImageURL()"
                                            v-bind:alt="evento.title">
                                        <div class="card-body">
                                            <h4 class="b-event__title card-title">{{ evento.title }}</h4>
                                            <p class="card-text">{{ evento.summary }}</p>
                                            <a href="#" class="btn btn-primary">Ver</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="src/events.js"></script>
</body>

</html>